{% extends "layout.html" %}

{% block content %}
<div class="container">
    <h1 style="color: #a0f1ff;">Your Transactions</h1>
    <a href="{{ url_for('add_transaction') }}" class="btn">Add New Transaction</a>

    <div class="go-back">
        <a href="{{ url_for('home') }}" class="btn">Go Back to Dashboard</a>
    </div>
    
    {% if transactions %}
    <table class="table">
        <thead>
            <tr>
                <th>Type</th>
                <th>Amount</th>
                <th>Date</th>
                <th>Category</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in transactions %}
            <tr>
                <td>{{ transaction.type }}</td>
                <td>${{ '%.2f'|format(transaction.amount) }}</td>
                <td>{{ transaction.date.strftime('%Y-%m-%d') }}</td>
                <td>{{ transaction.category.name }}</td>
                <td>{{ transaction.description }}</td>
                <td>
                    <a href="{{ url_for('edit_transaction', transaction_id=transaction.id) }}" class="btn">Edit</a>
                    <!-- Delete Transaction Form -->
                    <form action="{{ url_for('delete_transaction', transaction_id=transaction.id) }}" method="post" style="display: inline;" onsubmit="return confirm('Are you sure you want to delete this transaction?');">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                        <button type="submit" class="btn">Delete</button>
                    </form>
                    
                    
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>No transactions found. Start adding some!</p>
    {% endif %}
</div>
{% endblock %}
